NEXT_PUBLIC_SUPABASE_URL=https://iscphcfwjptpjmlzznhi.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzY3BoY2Z3anB0cGptbHp6bmhpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIyMzYzMDYsImV4cCI6MjA5NzgxMjMwNn0.hw0g9NNSpy-Wcoqsq94m7FxJQqicjlsxADOIJrqvYk4
NEXT_PUBLIC_ROBLOX_CLIENT_ID=6469566476612559140
NEXT_PUBLIC_APP_URL=http://localhost:3001
DATABASE_PASSWORD="7qBLoWFcft6TO6IK"
ROBLOX_OAUTH_SECRET="RBX-5FfmHelVXkSamo1autYdQQRBIA04M45KOo6awj8L51hrFbpy-J4_6KsholTTvF4-"